# For use with virtual environments
.venv/

# Frontend dependecies
frontend/node_modules/

# Frontend build files
frontend/dist/
frontend/package-lock.json

# Data
backend/data/jsonl
backend/data/tsvs
backend/data/vectors

# Vectorization/embedding model
backend/models/*

