# For use with virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# Frontend dependecies
frontend/node_modules/

# Frontend build files
frontend/dist/
frontend/package-lock.json

# Data
backend/data/jsonl
backend/data/tsvs
backend/data/vectors

# Vectorization/embedding model
backend/models

# Docker Compose
*.yml

# Config File
*.ini

# Local env's
*.env
