faiss-cpu==1.13.2
Flask==2.3.2
Flask_Cors==3.0.10
latex2mathml==3.78.1
numpy==2.4.2
opensearch_py==3.1.0
python-dotenv==1.2.1
regex==2026.1.15
SayTeX==0.1.6
scikit_learn==1.8.0
sentence_transformers==5.2.2
tqdm==4.67.2
transformers==5.0.0
