.footer {
    background-color: var(--container-color);
    color: var(--button-color);
    padding: 1.5rem 0;
    text-align: center;
    margin-top: 3rem;
    border-top: 2px solid var(--gold-accent);
}

.link {
    text-decoration: none;
}

.link:visited {
    color: var(--button-color);
}
