.footer {
    background-color: var(--container-color);
    color: var(--button-color);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 0;
    text-align: center;
    margin-top: 3rem;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: var(--button-color);
}
