.darkModeToggle {
    background-color: var(--button-color);
    border: 2px solid var(--primary-accent);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(2px);
}

.darkModeToggle:hover {
    background-color: var(--button-active-color);
}

.iconContainer {
    position: relative;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.iconContainer:hover {
    transform: rotate(15deg);
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: var(--container-color);
}

.light .sunIcon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
}

.light .moonIcon {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(180deg);
}

.dark .sunIcon {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-180deg);
}

.dark .moonIcon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
}
