.aboutPage {
    color: var(--primary-text);
    margin: 2em 0 2em 0;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    padding: 3.5em;
}