.parentContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: calc(100vh - 120px); /* Account for header and footer */
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
}

.topSection {
    flex: 0 0 auto;
    display: flex;
    position: sticky;
    top: 0;
    backdrop-filter: blur(15px);
    justify-content: center;
    padding-top: 2rem;
    z-index: 99;
}

.bottomSection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.resultsPlaceholderMessage {
    flex: 1;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--primary-alt);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
    backdrop-filter: blur(2px);
}

@media (max-width: 768px) {
    .contentWrapper {
        padding: 0 0 1rem 0;
    }
    .bottomSection {
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .contentWrapper {
        padding: 0 0 2rem 0;
    }
    
    .topSection {
        padding-top: 1rem;
        padding-bottom: 0;
        align-items: flex-end;
    }
}